<div class="gallery-container">
    <div class="desc">
        here is a selection of some of my illustrations.
    </div>
    {% assign valid_filetypes = ".jpg, .jpeg, .png, .JPG, .JPEG, .PNG" %}
    {% assign image_files = site.static_files | where_exp: "file", "file.path contains include.folder"%}
    {% assign image_files = image_files | where_exp: "file", "valid_filetypes contains file.extname" %}
    <div class="gallery">
    {% for file in image_files %}
        {% assign filenameparts = file.path | split: "/" %}{% assign filename = filenameparts | last | replace: file.extname,"" %}
        <a href="#{{ filename }}" title="{{ filename }}">
            <img src="{{ file.path | relative_url }}" title="{{ filename }}" alt="{{ filename }}" class="thumbnail"/>
        </a>
    {% endfor %}
    </div>
    <!-- Lightbox overlays-->
    {% for file in image_files %}
        {% assign filenameparts = file.path | split: "/" %}{% assign filename = filenameparts | last | replace: file.extname,"" %}
            <div id="{{ filename }}" class="lightbox">
                <a href="#" class="close">&times;</a>
                <span class="arrow left">&#10094;</span>
                    <img class="lightbox-image" src="{{ file.path | relative_url }}" alt="{{ filename}}">
                <span class="arrow right">&#10095;</span>
            </div>
    {% endfor %}
</div>
<script>
    {% include image-gallery.js image_files=image_files %}
</script>