<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    About
  </h3>

  <p>
    <div class="media">
      <h4 class="media-heading">Tori Vaz</h4>
      <div class="media-body">
        <img src="https://avatars2.githubusercontent.com/u/1314648?s=100&v=4" alt="Tori Vaz">
        <p>I'm Tori! This is my personal blog/little slice of the web for me to dump miscellaneous thoughts.<p>

          <p>I love programming, writing, cooking and coming up with recipes, and video games. I like to dip my toes in a lot of different ponds and try lots of new things, so forgive me if I come across a little scattered :)

          At any rate, thanks for stopping by! Feel free to email me at victoriavaz24@gmail.com. :blush:
      </div>
    </div>
  </p>
</div>
<!--
<h3>
  Shiori is Customizable!
</h3>

<p><button data-purplecoat-toggle="shiori" class="btn btn-default"><i class="fa fa-toggle-on"></i> Toggle Customizable Sections</button></p>

<p>&uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a>.</p>
-->
