  <h3 class="section-header">
    About
  </h3>

  <p>
    <div class="media">
      <h4 class="media-heading">Tori Vaz</h4>
      <div class="media-body">
        <img src="https://avatars2.githubusercontent.com/u/1314648?s=100&v=4" alt="Tori Vaz">
        <h5> TAZ: Balance Listening Progress </h5>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="17" aria-valuemin="1" aria-valuemax="70" style="width:24%">
            <span class="sr-only>">17/70<span>
            </div>
          </div>
        <p>I'm Tori! This is my personal blog/little slice of the web for me to dump miscellaneous thoughts.<p>

          <p>I love programming, writing, cooking and coming up with recipes, and video games. I like to dip my toes in a lot of different ponds and try lots of new things, so forgive me if I come across a little scattered :)

          At any rate, thanks for stopping by! Feel free to email me at victoriavaz24@gmail.com. :blush:
      </div>
    </div>
  </p>
</div>
